*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "montserrat";
}

section {
    height: 100vh;
}

/* navbar */

nav ul{
    color: #737373;
}


.d-flex a{
    color: #96BB7C;
}

.d-flex button{
    color: #fff;
    background-color: #96BB7C;
}

/* hero section */

.banner h5{
    color:#96BB7C
}

.banner h1{ 
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
}

.banner h4{ 
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; 
}

.banner h6{
    color: #737373; 
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.ban-btn-1{
    color: #fff;
    background-color: #96BB7C;
}

.ban-btn-2{
    color:#96BB7C;
    border : 1px solid #96BB7C;
}

.banner button{
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
}

/* p-advise */

.p-advise{
    height: 100vh;
}

.p-advise h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.p-advise h6{
    color: #96BB7C;
    font-size: 14px;
    font-weight: 400;
}
.card h6{
    color: #000;
}

.p-advise p{
    color: #737373;
    font-size: 14px;
    font-weight: 400;

}

.card-p-advice{
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.line-red{
    border-top: 2px solid #E74040;
    width: 50px;
}

.card-special{
    color: #fff;
    background-color: #96BB7C;
    
}

/* get-quality section */

.get-quality{
    height: 80vh;
}

.get-quality h2{
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
}

.line-red-bold {
    border-top: 8px solid #E74040;
    width: 140px;
}

.get-quality a{
 
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    color: #96BB7C;
}


/* most popular */

.most-popular-txt h6{
    color: #96BB7C;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

.most-popular-txt h2{
    color: #252B42;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

.most-popular-txt p{
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

.card-1{
    background-image: url(../images/product-1-img-frm.png);
    width: 238px;
    height: 300px;
}

.sale{
    background-color: #E74040;
    width: 51px;
    height: 24px;
    top: 20px;
    left: 20px;
    padding: 0px 10px 0px 10px;
    border-radius: 3px;
 
}

.sale h6{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    /* letter-spacing: 0.20000000298023224px; */
    text-align: center;

}

.card-icon-2{
    display: flex;
    justify-content: space-evenly;
}

/* .card-icon-2 img{
    width: 40px;
    height: 40px;
} */

.train-box{
    width: 182px;
    display: flex;
    justify-content: space-between;
}

.train-box a{

font-family: Montserrat;

font-size: 14px;

font-weight: 700;

line-height: 24px;

text-align: left;

color: #96BB7C;

text-decoration: none;
}

.review-box{

width: 50px;

height: 26px;
display: inline-flex;

padding: 5px;

gap: 5px;

border-radius: 20px;

opacity: 0px;

background-color: #2D4059;

}
.review-box span{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}

.card-details{
    width: 232px;
    height: 300px;
}

.card-details p{
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}



.downlaod-box span{
    color: #737373;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.old-rate{
    color: #BDBDBD;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;

}

.new-rate{
    color: #FFAB71;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;

}

.card-details button{

    width: 141.14px;
    height: 44px;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    border-radius: 37px;
    border: 1px;
    border: 1px solid #96BB7C;
}

.card-details h6{
    color: #96BB7C;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}


/* expert teacher section */

.expert-teacher-txt h6{
    color: #96BB7C;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

.expert-teacher-txt h2{
    color: #252B42;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}


.expert-teacher-txt p{
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

.free-card{
    /* width: 300px; */
    height: auto;
    top: 29px;
    left: 0.5px;
    padding: 50px 40px 50px 40px;
    gap: 35px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* box-sizing: border-box; */
    align-items: center;
}

.free-card-img{
    width: 96px;
    height: 96px;
    padding: 10px;
    border-radius: 200px;
}

.free-card-body {
    display: contents;
}

.free-card-body h4{
    color: #252B42;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}

.free-card-body h6{
    color: #737373;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    
}

.expert-rate h2{
    color: #96BB7C;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}

.expert-rate h6{
    color: #8EC2F2;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}

.free-card-body p{
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}

.free-card-body button{
    background-color: #96BB7C;
    width: 243px;
    height: 52px;
    padding: 15px 40px 15px 40px;
    gap: 10px;
    border-radius: 5px;
}

.btn-txt p{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}

.card-option{
    width: 243px;
    height: 32px;
}


.card-option i{
    display: inline-block;
    width: 32px;
    height: 32px;
    /* padding: 10px 8px 11px 8px; */
    border-radius: 200px;   
}

.card-option ul{
    padding: 0px;
    display: block;
}

.card-option li{
    list-style-type: none;
    color: #252B42;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}
.blue-card-col{
    margin-bottom: -10px;
}
.blue-card{
    background-color: #2D4059;
    color: #fff;
    
}

